[Desktop Entry]
Name=HWDash
GenericName=Hardware Monitor
Type=Application
Terminal=true
Exec=hwdash
Icon=hwdash
Categories=System;Monitor;
X-AppImage-Integrate=false
